@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  src: url("../../fonts/netflixsans.otf") format("opentype");
}

.navbar-font {
  color: white;
  font-family: "Netflix Sans", sans-serif;
}

.bg-white {
  background-color: #ffffff;
  border-radius: 5px;
}

.text-black {
  color: #000000;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
